STACK_NAME=jyze
IMAGE=jyze-frontend:latest
DOMAIN=jyze.newaylab.com.br
TRAEFIK_NETWORK=saborpaulista
TRAEFIK_CERTRESOLVER=letsencrypt
TRAEFIK_ENTRYPOINT_WEB=web
TRAEFIK_ENTRYPOINT_WEBSECURE=websecure
REPLICAS=1
